body{
    background-color: violet;
}
#div_it{
    background-color: white;
    margin-top: 8%;
    margin-left: 8%;
    height: 250px;
}
#img1{
    height: 20%;
    width: 20%;
    margin-top: 5%;
    margin-left: 5%;
}
